html, body, #main, .container {
    width: 100%;
    height: 100%;
}

.container {
    margin: 0 auto;
}

.result-displayer {
    position: relative;
    margin-top: 5%;
    display: inline-block;
}

.video-detail-container:hover {
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 100%;
}

.video-player {
    width: 60%;
    height: 50%;
    position: relative;
    margin: 0 auto;
    top: 10%;
}

.navbar-brand:hover {
    cursor: pointer;
}

.video-detail-container {
    color: #000;

    .video-detail-displayer {
        display: block;
        width: 320px;
        float: left;
        padding: 20px;
        margin-right: 3%;
    }

    h3 {
        font-size: medium;
        word-wrap: break-word;
        color: #22313F;
    }
}