html,
body {
    height: 100%;
    width: 100%;
    background-color: #2A363B;
    font-family: "Courier New";
    overflow: hidden;
}

#container {
    color: #96281B;
    font-size: 10em;
    text-align: center;
    position: relative;
    top: 40%;
}